@import "tailwindcss";

@theme {
  --font-sans: 'Inter', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@variant dark (&:where(.dark, .dark *));

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: var(--font-sans);
}