---
import Hero from '../components/Hero.tsx';
import ThemeToggle from '../components/ThemeToggle.tsx';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<header class="fixed top-0 right-0 p-6 z-50">
		<ThemeToggle client:load />
	</header>
	
	<main class="relative">
		<Hero />
	</main>
</Layout>
