---
import Layout from '../layouts/Layout.astro';
import ProjectTimeline from '../components/ProjectTimeline.tsx';
---

<Layout>
  <div class="min-h-screen">
    <ProjectTimeline client:load />
  </div>
</Layout>
